.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  overflow: hidden;
  transition: 0.5s;
}
.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero .movie {
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-bottom: 100px;
}
.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  object-position: center;
  font-size: 8rem;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}
.bgImg.active {
  visibility: visible;
  opacity: 1;
}
