.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}
.nav li a:hover,
.nav li a:active {
  color: var(--primary);
}
